<!-- templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Upload</title>
</head>
<body>
    <h1>Extrair texto de PDF/Imagem</h1>
    <p>Extraia o texto de imagens / arquivos PDF fazendo o upload de um arquivo.</p>
    <p>O arquivo será processado pelo serviço de visão computacional do Google Cloud: o Cloud Vision, e o resultado será exibido abaixo.</p>
    <form id="upload-form" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="imagem" id="image-input" accept="image/*, application/pdf" capture="environment">
    <button type="submit">Enviar</button>
    <h2>Texto detectado:</h2>
    <div style="overflow: auto;">
        <pre id="result-text"></pre>
    </divs>
     
    <script>
        document.getElementById('upload-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const formData = new FormData();
            formData.append('imagem', document.getElementById('image-input').files[0]);

            // Get CSRF token from the page
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const response = await fetch('/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken, // Add CSRF token header
                }
            });

            const result = await response.json();
            document.getElementById('result-text').textContent = result.detected_text || 'Nenhum texto detectado';
            
        });
    </script>
    
</form>
</body>
</html>